@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300&family=Ubuntu&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}


.section{
  width: 90vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;

}

.hero{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 15px;
}

.hero h1{
  font-size: 32px;
  font-weight: bold;
}

.hero p{
  font-size: 20px;
  line-height: 30px;
}

.hero-image{
  width: 40%;
}

img{
  width: 100%;
  height: auto;
}

.contenedor_botones{
  display: flex;
  justify-content: center;
}

.button {
  padding: 15px 35px;
  border: 1px solid green;
  border-radius: 30px;
  color: green;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
}

.section-two{
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-two p{
  text-align: center;
  font-size: 25px;
  line-height: 40px;
}